{% extends "main.html" %}

		{% block title %}
		<title>d20morningstar - Character Quest</title> 
		{% endblock %}
		
		{% block page-id %}
		<div data-role="page" id="attack" data-theme="c">
		{% endblock %}			
			
			{% block header %}
			<div data-role="header" data-theme="a">
				<h1>{{player.name}}</h1>
			</div><!-- /header -->			
			{% endblock %}
						
			{% block content %}
			<div data-role="content" id="content">	
				
				<div id="stats">
					<table summary="This table contains player stats.">
						<tbody>
							<tr>	
								<th>hp</th>
								<td>{{player.hit_points.hp}}</td>
								<th>xp</th>
								<td>{{player.experience}}</td>
								<th>gp</th>
								<td>{{player.purse.gold}}</td>
							</tr>					
						</tbody>	
					</table>	
				</div>

				<div data-role="fieldcontain">
					<h2>Choose an Attack</h2>
	    		<fieldset data-role="controlgroup">
							{% for w in player.items.weapons %}		
         			<input type="radio" name="attack" id="{{w.key}}" value="{{w.key}}" 
								{% if forloop.first %}
									checked="checked" 
								{% endif %} 
							/>
         			<label for="{{w.key}}">{{w.name}}</label>
							{% endfor %}	
							{% for a in player.powers.attacks %}		
	         		<input type="radio" name="attack" id="{{a.key}}" value="{{a.key}}" />
	         		<label for="{{a.key}}">{{a.name}}</label>
							{% endfor %}
    			</fieldset>
				</div>
				
				<div data-role="fieldcontain">
					<h2>Choose a Target</h2>
	    		<fieldset data-role="controlgroup">
							{% for m in monster_party.monsters %}		
         			<input data-theme="c" type="radio" name="monster" id="{{m.key}}" value="{{m.key}}" 
								{% if forloop.first %}
									checked="checked" 
								{% endif %} 
							/>
         			<label for="{{m.key}}">{{m.name}}</label>
							{% endfor %}	
    			</fieldset>
				</div>
			
			</div><!-- /content -->
			{% endblock %}

		{% block footer %}
		<div data-role="footer" data-theme="d" data-position="fixed" id="footer">
			<a href="#" data-role="button" data-theme="b" id="perception-check" class="button">ATTACK!</a>
		</div><!-- /footer -->			
		{% endblock %}			

