<!DOCTYPE html> 
<html lang="en"> 
	<head> 
		{% block title %}
		<title>d20morningstar</title> 
		{% endblock %}
		<link rel="stylesheet" href="http://code.jquery.com/mobile/1.0a4.1/jquery.mobile-1.0a4.1.min.css" />
		<link rel="stylesheet" href="/static/css/android.css" />
		<script type="text/javascript" src="http://code.jquery.com/jquery-1.5.2.min.js"></script>
		<script type="text/javascript" src="http://code.jquery.com/mobile/1.0a4.1/jquery.mobile-1.0a4.1.min.js"></script>
	</head>
	<body>
		<div data-role="page" id="page">
			
			{% block header %}
			{% endblock %}
			
			{% block content %}
			{% endblock %}

			{% block footer %}
			{% endblock %}
						
		</div><!-- /page -->		
	</body>	
</html>		