{% extends "main.html" %}

		{% block title %}
		<title>d20mobile - Morningstar</title> 
		{% endblock %}
			
			{% block content %}
			<div data-role="content" id="content">	
				<h1>Adventure with:</h1>
				<div id="buttons">
				{% for c in characters %}
					<a href="/mobile/character/{{c.key}}" data-role="button">{{c.name}}</a> 					
				{% endfor %}
					<a href="/mobile/character/create" data-role="button">CREATE NEW CHARACTER</a> 		
				</div><!-- /buttons -->
			</div><!-- /content -->
			{% endblock %}
