{% extends "main.html" %}

	{% block title %}d20 mobile - Morningstar - Features{% endblock %}
	
	{% block script %}
	{% endblock %}
	
	{% block map %}
	{% endblock %}
	
	{% block content %}
	<div id="page">
		<h2>Features</h2>
		<div>
			<p class="text14">
				The following features will be included in the first release of d20 Morningstar.  <br/>
				The feature list for subsequent versions will be driven by community feedback.  Please join our <a href="http://groups.google.com/a/d20m.com/group/morningstar/topics">Google Group</a> to submit features you'd like to see in the game.  
			</p>
			<h3>Player Characters</h3>
			<h3>Non Player Characters</h3>
			<h3>Perception Check</h3>
			<h3>Combat</h3>
			<h3>Loot</h3>
			<h3>Parties</h3>
			<h3>Guilds</h3>

		</div>
	</div>	
	{% endblock %}
